mixin footer(mixes)
  include ./_imports/import

  .footer(class=(mixes) && `${mixes}__footer`)

    .footer__container
      .footer__logo-container
        img.footer__logo.header__logo.header__logo--state-1(src=require('../../components/footer/img/logo-state--1.png') alt='Логотип')
        img.footer__logo.header__logo.header__logo--state-2(src=require('../../components/footer/img/logo-state--2.png') alt='Логотип')
        img.footer__logo.header__logo.header__logo--state-3(src=require('../../components/footer/img/logo-state--3.png') alt='Логотип')
        //- img.footer__logo(src=require('../../../public/img/logo-black.svg') alt='Логотип')

      nav.footer__nav
        each link in [{ label: 'Услуги', target: '.services' }, { label: 'О нас', target: '.about' }, { label: 'Сотрудничество', target: '.partnership' }, { label: 'Контакты', target: '.contacts' }]
          a.footer__link(href='#' data-target=`${link.target}`)= link.label